.Container {
  display: flex;
  position: relative;
}

.Menu {
  display: flex;
  flex-direction: row;
  width: 210px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #b6b6b4;
}
.Number {
  width: 150px;
  text-align: left;
  padding-left: 10px;
  text-transform: uppercase;
  color: #b6b6b4;
}
.Square {
  width: 30px;
  height: 30px;
  border-right: 1px solid #b6b6b4;
  border-left: 1px solid #b6b6b4;
  cursor: pointer;
}
.Color {
  width: 15px;
  height: 15px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
}

.Arrow {
  margin-top: 7px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.Icon {
  color: #b6b6b4;
}
